{% extends 'base.html.twig' %}

{% block body %}
<div class="container" >
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h5 style="text-align: center; margin-top: 9pc;margin-bottom: 20px">Verfügbare Wetter-Data für:</h5>
    {% if cities is defined%}
        <table>
        {% for city in cities %}
            <tr><td style="width: 100%"><a href="/city/{{ city.id }}">{{ city.name }}</a></td><td></td><td style="width: 100%;text-align: center"><a class="btn btn-danger btn-xs" href="/delete/{{ city.id }}">Delete</a></td></tr>
        {% endfor %}
        </table>
    {% endif %}
            <h6 style="text-align: center"><a href="/search">Click hier </a></h6>
            </div>
    </div>
</div>
{% endblock %}
