{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="well">
                    <h5 style="text-align: center; margin: 2pc 0">Verfügbare Wetter-Data für:</h5>
                    {% if cities is defined %}
                        <table class="table">
                            {% for city in cities %}
                                <tr>
                                    <td style="width: 33%"><a href="/city/{{ city.id }}">{{ city.name }}</a></td>
                                    <td></td>
                                    <td style="width: 33%;text-align: center"><a style="float: right"
                                                                                 class="btn btn-danger btn-xs"
                                                                                 href="/delete/{{ city.id }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr style="margin-top: 2pc">
                                <td></td>
                                <td style="width: 33%"><a style="width: 100%" href="/search"
                                                          class="btn btn-primary btn-xs">Search </a></td>
                                <td></td>
                            </tr>
                        </table>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
