{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h1>{{ name }}</h1>
                <table class="table">
                    <th>Min</th>
                    <th>Max</th>
                    {% for temp in temperatures %}
                        <tr><td>{{ temp.min }}</td><td>{{ temp.max }}</td></tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
{% endblock %}